.outer {
	width : 600px;
	height : 500px;
	margin : auto;
	position : relative;
}

.infoInside {
	margin : auto;
	
}

.title{
	color : white;
	text-align : center;
}

.info1{
	width : 250px;
	height : 250px;
	background-color : white;
	border-radius : 40px;
	margin : 20px;
	display : inline-block;
}

img {
	width: 130px;
  	height: 130px;
  	background-color : rgb(141, 145, 149);
  	border-radius: 30px;
  	margin-top: 20px;
}

.btnArea {
	margin : 20px;
}